<header class="pb-3 mb-4">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/favicon/android-chrome-512x512.png" alt="Logo"
                    width="30" height="30" class="d-inline-block align-text-top">
                Proxy Lab
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/tools">Tools</a>
                    <a class="nav-link" href="/config">Config</a>
                </div>
            </div>
            <a href="#"><span class="badge text-bg-primary">Version x.x.x</span></a>
        </div>
    </nav>
</header>