# Docker files
.dockerignore
Dockerfile

# VSC dev environment
.vscode

# Mac Dev environment
.DS_Store
.devcontainer

# Node modules
node_modules/

# Packet Capture Files
*.pcap

# Ignore download files
1MB.txt
10MB.txt
1GB.txt
100MB.txt

# Certificates
*.pfx

# environment variables
.env
!.env.example