<!doctype html>
<html lang="en" data-bs-theme="dark">

<%- include('../partials/head.ejs') %>

    <body>

        <!-- navigation -->
        <%- include('../partials/navbar.ejs') %>


            <!-- left navbar -->
            <div class="container">
                <div class="row content">
                    <%- include('../partials/leftnav-admincenter.ejs') %>

                        <!-- Main Content -->
                        <div class="col-md-10">
                            <!-- Description -->
                            <h4>Packet Capture</h4>
                            <hr />
                            <p>
                                Use this tool to manage packet captures on the server. You can start, stop, and download the capture file in `.pcap` format.
                            </p>

                            <!-- Packet Capture Controls -->
                            <div class="mb-3">
                                <button id="startCaptureButton" class="btn btn-success">Start Capture</button>
                                <button id="stopCaptureButton" class="btn btn-danger" disabled>Stop Capture</button>
                            </div>

                            <!-- Server Response -->
                            <div id="captureStatus" style="display: none;"></div>

                            <!-- Download Button -->
                            <div id="downloadCaptureContainer" style="display: none;">
                                <a id="downloadCaptureButton" class="btn btn-primary" href="#">Download Capture</a>
                            </div>

                        </div>
                </div>
            </div>

            <!-- scripts -->
            <%- include('../partials/scripts.ejs') %>
                <script src="../js/pcap.js"></script>

    </body>

</html>